.searcher__input {
    margin-top: 64px;
    width: 584px;
    height: 64px;
    background: #FFFFFF;
    border: 0;
    outline: none;
    border-radius: 100px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    
    padding: 0;
    padding-left: 24px;
}



@media screen and (max-width: 768px) {
    .searcher__input {
        width: 424px;
    }
}


@media screen and (max-width: 500px) {
    .searcher__input {
        margin-top: 122px;
        width: 288px;
        padding-left: 0;
        height: 56px;
    }
}
