.popup__span-error {
    font-family: Inter;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: #FF0000;
    border: 0;
    height: 15px;
    margin-bottom: 8px;

}

